No Jobs <strong><%= @company.name %></strong>

<ul>
  <% @company.locations.each do |location| %>
  <li><%= location.city %></li>
  <% end %>
</ul>

<br />

<% @company.jobs.each do |job| %>
  <ul><%= job.title %></ul>
<% end %>
